.circular--square {
  border-radius: 50%;
}

.circular--landscape {
  display: inline-block;
  position: relative;
  width: 250px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--landscape img {
  width: auto;
  height: 100%;
  margin-left: -100px;
}

.box {
  display: flex;
  flex-wrap: wrap;
}

.box>* {
    flex: 1 1 250px;
}