.telegram-icon a {
    background: #1D1E20;
    color: white !important;
   
    padding: 2px 10px 2px 8px;
 
    border-radius: 3px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    border: 1px solid grey;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
}

.telegram-icon a:hover {
    color: #1D1E20 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: white ;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
    text-decoration: none;
    
}

.telegram-icon a svg {
    height: 25px;
    width: 25px;
    padding: 8px 1px 0px 1px;
}


